<div class="container mt-4" style="display: flex; justify-content: center; text-align: center;">
    <h2 class="mb-4 text-center" style="font-family: 'Times New Roman', Times, serif; color: green;"> Your Search Recipes....</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let recipe of recipes; let i = index" style="margin-top:100px;">
            <div class="card" (click)="toggleRecipeDetails(i)">
                <img [src]="recipe.image" class="card-img-top" alt="Recipe Image" style="cursor: pointer; border: 10px solid rgb(255, 255, 255);">
                <div class="card-body w-100"  style="border: 10px solid rgb(255, 255, 255);">
                    <h5 class="card-title" style="cursor: pointer;">{{ recipe.title }}</h5>
                    <app-recipe-details *ngIf="recipe.showDetails" [recipe]="recipe"></app-recipe-details>                 
                </div>
            </div>
        </div>
    </div>
</div>  
 