
    <div class="container mt-4 center-content">
    <h1 class="mb-4">RecipeLib</h1>
    <div class="input-group mb-3">
        <input class="form-control" [(ngModel)]="query" placeholder="Search here recipes that you want.." style="height: 30px; width: 300px; border-radius: 10px;">
      <br><br>
        <div class="input-group-append center" >
            <button class="btn btn-primary rounded-pill" (click)="searchRecipes()" style=" height: 30px; width: 100px; border-radius: 10px; cursor: pointer;">Search</button>
        </div>
    </div>
</div> 
